
body {
    background-image: url('Checking mail.razor.css.jpg');
    background-image: image();
    background-image: url('file:///C:\Users\Roman\Desktop\photo_2023-10-14_10-28-41.jpg');
    background-color: #007439;
    background-size: cover;
    display: flex;
    /* <body> стає гнучким контейнером і всі його прямі дочірні елементи стають гнучкими дочірніми елементами*/
    flex-direction: column;
    /*елементи всередині гнучкого контейнера будуть вирівнюватися вертикально. */
    justify-content: center;
    /*гнучкі дочірні елементи будуть центровані відносно висоти контейнера*/
    align-items: center;
    /*елементи будуть центровані відносно ширини контейнера.*/
    height: 100vh;
    /*цей елемент буде займати 100% висоти екрана користувача.*/
    margin: 0;
    /*зовнішні відступи = 0 */
}
.form {
    width: 350px;
    height: 360px;
    border: 3px solid #228653;
    border-radius: 5px;
    display: flex;
    /* <form> стає гнучким контейнером і всі його прямі дочірні елементи стають гнучкими дочірніми елементами*/
    flex-direction: column;
    /*елементи всередині гнучкого контейнера будуть вирівнюватися вертикально. */

    background-color: #00B358;
    align-items: center;
    /*елементи будуть центровані відносно ширини контейнера.*/
}
    .form h3 {
        font-family: popins;
    }
    .form .email {
        display: flex;
        /* <body> стає гнучким контейнером і всі його прямі дочірні елементи стають гнучкими дочірніми елементами*/
        flex-direction: column;
        /*елементи всередині гнучкого контейнера будуть вирівнюватися вертикально. */
        margin-bottom: 10px;
        padding: 5px;
        width: 80%;
        
    }

label {
    font-weight: bold;
}

input {
    border-radius: 5px;
}

button {
    margin: 10px;
    background-color: #007439;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.error-message {
    color: red;
    font-weight: bold;
}
