* {
    box-sizing: border-box
}

.container {
    padding: 16px;
}

label {
    font-weight: bold;
}

input {
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

hr {
    border: 2px solid #f1f1f1;
    margin-top: 25px;
    margin-bottom: 25px;
}

.loginbtn-disabled {
    background-color: slategrey;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: not-allowed;
    width: 100%;
    opacity: 0.9;
}

.loginbtn-enabled {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.error-message {
    color: red;
    font-weight: bold;
}

.forgot-password-link {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}

    .forgot-password-link a {
        text-decoration: underline;
        color: #000000;
        font-weight: bold;
    }

        .forgot-password-link a:hover {
            text-decoration: none;
            color: paleturquoise;
        }

.registration-link {
    text-align: center;
    font-style: italic;
}

    .registration-link a {
        text-decoration: underline;
        color: #000000;
        font-weight: bold;
    }

        .registration-link a:hover {
            text-decoration: none;
            color: paleturquoise;
        }

#error-message {
    display: block;
    font-weight: bold;
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    color: #B22222;
    padding: 20px 30px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 10px 0;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 1s;
}