body {
    background-color: #007439;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form {
    width: 350px;
    height: 360px;
    border: 3px solid #228653;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #00B358;
    align-items: center;
}

    .form h3 {
        font-family: popins;
        margin-top: 20px;
    }

    .form .email {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 5px;
        width: 80%;
    }

label {
    font-weight: bold;
}

input {
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

button {
    margin: 10px;
    background-color: #007439;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.error-message {
    color: red;
    font-weight: bold;
}

.forgot-password-link {
    text-align: center;
    margin-top: 20px;
}

    .forgot-password-link a {
        text-decoration: underline;
        color: #000000;
        font-weight: bold;
    }

        .forgot-password-link a:hover {
            text-decoration: none;
            color: #FFFFFF;
        }

.registration-link {
    text-align: center;
    margin-top: 20px;
}

    .registration-link a {
        text-decoration: underline; 
        color: #000000;
        font-weight: bold;
    }

        .registration-link a:hover {
            text-decoration: none; 
            color: #FFFFFF; 
        }
