* {
    box-sizing: border-box
}

.container {
    padding: 16px;
}

label {
    font-weight: bold;
}

input {
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.loginbtn-disabled {
    background-color: grey;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: not-allowed;
    width: 100%;
    opacity: 0.9;
}

.loginbtn-enabled {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.error-message {
    color: red;
    font-weight: bold;
}

.forgot-password-link {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}

    .forgot-password-link a {
        text-decoration: underline;
        color: #000000;
        font-weight: bold;
    }

        .forgot-password-link a:hover {
            text-decoration: none;
            color: paleturquoise;
        }

.registration-link {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}

    .registration-link a {
        text-decoration: underline;
        color: #000000;
        font-weight: bold;
    }

        .registration-link a:hover {
            text-decoration: none;
            color: paleturquoise;
        }
