.message-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.message-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    width: 60%;
    max-width: 600px; 
    height: 70%; 
    max-height: 500px; 
    text-align: center;
}

    .message-content p {
        margin: 0 0 20px 0;
        color: black;
    }

    .message-content button {
        padding: 10px 20px;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

        .message-content button:hover {
            background-color: #0056b3;
        }


.round-profile-picture {
    border-radius: 50%;
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    object-fit: cover;
}