@inject HttpClient Http
@inject TokenService TokenService
@inject NavigationManager Navigation
@using System.Net.Http.Headers;
@using SoftServeProject3.UI.Services;
@using SoftServeProject3.Core.DTOs;
@using Microsoft.AspNetCore.SignalR.Client;

@if (IsVisible)
{
    <div class="message-popup">
        <div class="message-content">
            @if (incomingRequests.Any())
            {
                foreach (var friend in incomingRequests)
                {
                    <div>
                        <img src="@friend.photoUrl" alt="Profile Picture" />
                        <a href="UserProfile/@friend.username">@friend.username</a>
                        <button style="color:limegreen" @onclick="() => AddFriend(friend.username)">Прийняти</button>
                        <button style="color:darkred" @onclick="() => IgnoreFriend(friend.username)">Ігнорувати</button>
                    </div>
                }
            }
            else
            {
                <p>Немає запитів на дружбу</p>
            }
            <button @onclick="ClosePopup">Закрити</button>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    private List<Friend> incomingRequests = new List<Friend>();
    private HubConnection hubConnection;
    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;
    UserModel myProfile;  

    public void Show()
    {
        IsVisible = true;
    }

    public async Task ClosePopup()
    {
        IsVisible = false;
        await OnClose.InvokeAsync(false);
    }

    protected override async Task OnInitializedAsync()
    {
        var token = await TokenService.GetToken();
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("https://localhost:7292/chatHub"), options =>
            {
                options.AccessTokenProvider = () => Task.FromResult(token);
            })
            .Build();
        hubConnection.On<string>("UpdateOutgoingList", (username) =>
        {

            UpdateIndicator();
            StateHasChanged();
        });
        await hubConnection.StartAsync();
        
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        myProfile = await Http.GetFromJsonAsync<UserModel>($"https://localhost:7292/Users/profile/");
        incomingRequests = await Http.GetFromJsonAsync<List<Friend>>("https://localhost:7292/Users/friends/incomingRequests");
    }
    private async Task UpdateIndicator()
    {
        incomingRequests = await Http.GetFromJsonAsync<List<Friend>>("https://localhost:7292/Users/friends/incomingRequests");
        StateHasChanged();
    }

    private async Task AddFriend(string FriendUsername)
    {
        var token = await TokenService.GetToken();
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        await Http.PostAsync($"https://localhost:7292/Users/acceptFriendRequest?target={FriendUsername}", null);
        UpdateIndicator();
        await hubConnection.SendAsync("UpdateOutgoingList", FriendUsername);
        await hubConnection.SendAsync("UpdateOutgoingList", myProfile.Username);
    }

    private async Task IgnoreFriend(string FriendUsername)
    {
        var token = await TokenService.GetToken();
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        await Http.PostAsync($"https://localhost:7292/Users/ignoreFriendRequest?target={FriendUsername}", null);
        UpdateIndicator();
        await hubConnection.SendAsync("UpdateOutgoingList", FriendUsername);
        await hubConnection.SendAsync("UpdateOutgoingList", myProfile.Username);
    }
    
    
}