@page "/registrationpage"
@inject HttpClient Http
@inject NavigationManager Navigation
@inject TokenService TokenService
@using SoftServeProject3.UI.Data
@using Microsoft.AspNetCore.WebUtilities;
<link rel="stylesheet" href="RegistrationPage.razor.css">
@inject HttpClient Http
@inject NavigationManager Navigation


<head>
    <PageTitle>Registration Page</PageTitle>
</head>


<body>
    <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <button @onclick="StartGoogleLogin">Register with Google</button>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" maxLength="20" @bind="username" required>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" @bind="email" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" @bind="password" required>

        <label for="repeatPassword"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" @bind="repeatPassword" required>
        <hr>
        <button @onclick="SendCode">Відправити код</button>
        <label>Поле для коду:</label>
        <input @bind="code" type="text" placeholder="Введіть ваш код" />

        <button @onclick="VerifyCode">Скинути пароль</button>
        <button @onclick="SendCode">Відправити код знову</button>

        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
        <button @onclick="Register" class="@registerButtonClass" disabled="@(!isCodeVerified)">Register</button>
    </div>

    <div class="container signin">
        <p>Already have an account? <a href="/login">Sign in</a>.</p>
    </div>
    <p>@errorMessage</p>
</body>

@code {

    private string username = "";
    private string email = "";
    private string password = "";
    private string repeatPassword = "";
    private string errorMessage = "";

    public class TimeRange
    {
        public DateTime Start { get; set; }
        public DateTime End { get; set; }
    }

    private string code = "";
    private bool isCodeVerified = false;
    private string registerButtonClass => isCodeVerified ? "registerbtn-enabled" : "registerbtn-disabled";
    

    private async Task Register()
    {
        if (string.IsNullOrWhiteSpace(username) || string.IsNullOrWhiteSpace(email) ||
            string.IsNullOrWhiteSpace(password) || string.IsNullOrWhiteSpace(repeatPassword))
        {
            errorMessage = "All fields are required";
            return;
        }
        if (password != repeatPassword)
        {
            errorMessage = "Passwords do not match";
            return;
        }

        var registerRequest = new
        {
            Username = username,
            Email = email,
            Password = password,
            Schedule = new Dictionary<string, List<TimeRange>>
                    {
                        { "Monday", new List<TimeRange>() },
                        { "Tuesday", new List<TimeRange>() },
                        { "Wednesday", new List<TimeRange>() },
                        { "Thursday", new List<TimeRange>() },
                        { "Friday", new List<TimeRange>() },
                        { "Saturday", new List<TimeRange>() },
                        { "Sunday", new List<TimeRange>() },
                    }
        };

        try
        {
            var response = await Http.PostAsJsonAsync("https://localhost:7292/Users/register", registerRequest);

            var result = await response.Content.ReadFromJsonAsync<RegistrationResponse>();
            if (result != null && !string.IsNullOrEmpty(result.Token))
            {

                await TokenService.StoreToken(result.Token);
                Navigation.NavigateTo("/"); //TODO: Змінити на профіль коли профіль буде готовим

            }
            else
            {
                errorMessage = "Registration failed. Please try again.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred: {ex.Message}";
        }
    }

    public class RegistrationResponse
    {
        public string Token { get; set; }
    }

    private async Task SendCode()
    {
        var emailData = new
        {
            EmailTo = email,
        };

        await Http.PostAsJsonAsync("https://localhost:7292/Email/SendVerificationCodePassword", emailData);
        isCodeVerified = false;

    }
    private async Task VerifyCode()
    {
        var emailData = new
        {
            EmailTo = email,
        };

        var response = await Http.PostAsJsonAsync($"https://localhost:7292/Email/VerifyCode?code={code}", emailData);

        if (response.IsSuccessStatusCode)
        {
            errorMessage = "";
            isCodeVerified = true;
        }
        else
        {
            errorMessage = "Verification failed.";
            isCodeVerified = false;
        }
    }
    private void StartGoogleLogin()
    {

        Navigation.NavigateTo("https://localhost:7292/Users/login/google", forceLoad: true);
    }

    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(Navigation.Uri);

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("token", out var token))
        {
            await TokenService.StoreToken(token.ToString());
            Navigation.NavigateTo("/", forceLoad: true);
        }
    }
}

