* {
    box-sizing: border-box
}

.container {
    padding: 16px;
}

.inputfld {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    .inputfld:focus {
        background-color: #ddd;
        outline: none;
    }

hr {
    border: 2px solid #f1f1f1;
    margin-top: 25px;
    margin-bottom: 25px;
}

.registerbtn-disabled {
    background-color: slategrey;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: not-allowed;
    width: 100%;
    opacity: 0.9;
}

.registerbtn-enabled {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    .registerbtn-enabled:hover {
        opacity: 1;
    }

a {
    color: dodgerblue;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

#error-message-display {
    display: block;
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    color: #B22222;
    padding: 20px 30px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 10px 0;
}

#error-message-nondisplay {
    display: none;
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    color: #B22222;
    padding: 20px 30px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 10px 0;
}

.login-link {
    text-align: center;
    margin-top: 20px;
    font-style: italic;

}

    .login-link a {
        text-decoration: underline;
        color: #000000;
        font-weight: bold;
    }

        .login-link a:hover {
            text-decoration: none;
            color: paleturquoise;
        }
