@page "/set-password"
@using SoftServeProject3.Core.DTOs;
@inject HttpClient Http
@inject NavigationManager Navigation


<head>
    <PageTitle>Set New Password</PageTitle>
    @* <link rel="stylesheet" href="SetNewPassword.razor.css"> *@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>

<h3>Set your new password</h3>
<body>
    <label>New password:</label>
    <div class="input-group">
        <input type="password" class="form-control" id="password">
        <span class="input-group-text">
            <span class="input-group-text"><i id="togglePassword" class="fa fa-eye"></i></span>
        </span>
    </div>
    @*   <label>Confirm password:</label>
    <div>
    <input id="password-field" type="password" class="form-control" name="password" value="secret">
    <span class="input-group-text"><i class="far fa-eye-slash" id="togglePassword"></i></span>
    </div>
    <button @onclick="AttemptChange">Change Password</button> *@
    <script>
        var password = document.getElementById('password');
        var togglePassword = document.getElementById('togglePassword');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye / eye slash icon
            this.classList.toggle('fa-eye-slash');
        });
    </script>

</body>


<p>@errorMessage</p>
@code {
    private string password = "";
    private string confirmPassword = "";
    private string code = "";
    private string errorMessage = "";

    private async Task AttemptChange()
    {
        SetPassword newPasswordRequest = new SetPassword
            {
                Code = code,
                ConfirmPassword = confirmPassword,
                Password = password

            };

        var response = await Http.PostAsJsonAsync("https://localhost:7292/Users/set/newPassword", newPasswordRequest);

        if (response.IsSuccessStatusCode)
        {
            errorMessage = "";
            Navigation.NavigateTo("/login");
        }
        else
        {
            errorMessage = await response.Content.ReadAsStringAsync();
        }
    }
}