body {
    background-color: white;
    background-size: cover;
    display: flex;
    /* <body> стає гнучким контейнером і всі його прямі дочірні елементи стають гнучкими дочірніми елементами*/
    flex-direction: column;
    /*елементи всередині гнучкого контейнера будуть вирівнюватися вертикально. */
    justify-content: center;
    /*гнучкі дочірні елементи будуть центровані відносно висоти контейнера*/
    align-items: center;
    /*елементи будуть центровані відносно ширини контейнера.*/
    height: 100vh;
    /*цей елемент буде займати 100% висоти екрана користувача.*/
    margin: 0;
    /*зовнішні відступи = 0 */
}

#field-error-message {
    color: red;
}

#error-message {
    display: block;
    font-weight: bold;
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    color: #B22222;
    padding: 20px 30px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 10px 0;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 1s;
}

.resetbtn-disabled {
    background-color: slategrey;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: not-allowed;
    width: 100%;
    opacity: 0.9;
}

.resetbtn-enabled {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}