body {
    background-color: #FFF;
    overflow: auto;
}

* {
    box-sizing: border-box;
}

.wrapper {
}

    .wrapper > div {
        border-radius: 5px;
        padding: 1em;
    }

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}



label, input, select, button, ul {
    margin: 10px 0;
}

    input[type="time"],
    input[type="text"],
    select {
        width: 90%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: flex;
    }

select {
    height: auto;
    overflow: auto;
}

.selected-subjects-container {
    margin-bottom: 20px;
}

.subject-items {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}

.subject-item {
    display: flex;
    align-items: center;
    margin-bottom: -5px;
}

    .subject-item > span {
        background-color: #757575;
        color: white;
        padding: 5px 10px;
        margin-right: 0px;
    }

    .subject-item > button {
        background-color: lightgray;
        border: none;
        border-radius: 0px;
        padding: 5px 10px;
        cursor: pointer;
        margin-left: 0px;
    }

.searchSubject {
    display: flex;
    justify-content: center;
    gap:5px;
}


button {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
}

ul li button {
    background-color: #757575;
    color: white;
}

.right-sidebar p {
    text-align: center;
    color: white;
    font-style: italic;
}

ul {
    list-style: none;
    padding: 0;
}

    ul li a {
        text-decoration: none;
        color: white;
    }

        ul li a:hover {
            background-color: peru;
            border: 10px solid peru;
        }

.left-side {
    width: 50%;
    float: left;
    padding-left: 20px;
}

.filter-btns {
    float: left;
}

.time-filter {
    width: 50%;
    float: left;
    margin-left: 25%;
}

#no-users{
    animation: pulse 1s;
}

.table-content tr:hover:not(#no-users) {
    background-color: #f1f1f1;
    cursor: pointer;
    transform: scale(1.05);
}

.user-table {
    width: 85%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    position: relative;
    table-layout: fixed;
}

    .user-table th,
    .user-table td {
        padding: 12px;
        text-align: center;
    }

    .user-table tr {
        border-bottom: 3px solid #ddd;
    }

    .user-table thead:hover {
    }

    .user-table th {
        background-color: #a5c2ff;
        color: white;
        font-weight: bold;
        padding: 12px;
    }

    .user-table td a {
        color: #333;
        text-decoration: none;
        font-weight: bold;
    }

    .user-table caption {
        caption-side: top;
        font-weight: bold;
        padding: 16px;
        background-color: #a5c2ff;
        color: white;
        border-radius: 5px 5px 0 0;
        font-size: 24px;
        text-align: center;
    }

.loader {
    width: 200px;
    height: 140px;
    background: #979794;
    box-sizing: border-box;
    position: relative;
    border-radius: 8px;
    perspective: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

    .loader:before {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;
        border-radius: 8px;
        background: #f5f5f5 no-repeat;
        background-size: 60px 10px;
        background-image: linear-gradient(#ddd 100px, transparent 0), linear-gradient(#ddd 100px, transparent 0), linear-gradient(#ddd 100px, transparent 0), linear-gradient(#ddd 100px, transparent 0), linear-gradient(#ddd 100px, transparent 0), linear-gradient(#ddd 100px, transparent 0);
        background-position: 15px 30px, 15px 60px, 15px 90px, 105px 30px, 105px 60px, 105px 90px;
        box-shadow: 0 0 10px rgba(0,0,0,0.25);
    }

    .loader:after {
        content: '';
        position: absolute;
        width: calc(50% - 10px);
        right: 10px;
        top: 10px;
        bottom: 10px;
        border-radius: 8px;
        background: #fff no-repeat;
        background-size: 60px 10px;
        background-image: linear-gradient(#ddd 100px, transparent 0), linear-gradient(#ddd 100px, transparent 0), linear-gradient(#ddd 100px, transparent 0);
        background-position: 50% 30px,50% 60px, 50% 90px;
        transform: rotateY(0deg );
        transform-origin: left center;
        animation: paging 1s linear infinite;
    }

.closebtn {
    border-radius: 0px;
    background-color: lightgray;
}

.search-btn {
    cursor: pointer;
    color: lightblue;
    margin-left: 5px;
    background-color: azure;
}

    .search-btn:hover {
        background-color: #0064C8;
        transition: background-color 0.3s ease-in-out;
    }

.form-control {
    border-radius: 0px;
    width: 50%;
}

@keyframes paging {
    to {
        transform: rotateY( -180deg );
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.pagination {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    gap: 10px;
}

/* Style the pagination buttons */
.page-link {
    background-color: #0069d9;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 0%; /* Remove circular shape */
    transition: background-color 0.2s ease-in-out; /* Smooth transition on hover */
}
.filter-btns button{
    border:1px solid #0b5ed7;

}

.filter-btns button:hover {
    background-color: #0b5ed7;
}
/* Hover effect for pagination buttons */
.page-link:hover {
    background-color: #0092ff;
    color: #fff;
}

    /* Active state for pagination buttons */
    .page-link.active {
        background-color: #0069d9;
        color: #fff;
    }

    .page-link.passive {
        background-color: #0092ff;
        color: #fff;
    }
