body {
    background-color: #B4C6D0;
    height: 150vh;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

.wrapper {
}

    .wrapper > div {
        border-radius: 5px;
        padding: 1em;
    }

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
hr {
    border: 1px;
    clear: both;
    display: block;
    width: 96%;
    background-color: black;
    height: 1px;
}

.one {
    grid-column: 1 / 4;
    grid-row: 1;
    list-style: none;
    background-color: #b3b3b3;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
}

    .one a {
        background-color: #757575;
        display: inline-block;
        border: 10px solid #757575;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        margin: 0 15px;
        padding: 0px 5px;
    }

        .one a:hover {
            background-color: peru;
            border: 10px solid peru;
        }

.left-links a:first-child {
    margin-left: 0;
}

.right-links a:last-child {
    margin-right: 0;
}

.two {
    grid-column: 1;
    grid-row: 2;
    color: red;
    background-color: #B4C6D0;
    display: flex;
    align-items: center; /* Центрує елементи по вертикалі */
    justify-content: center; /* Центрує елементи по горизонталі */
    flex-direction: column;
    height: auto; /* Робить контейнер повністю висоти вікна */
    width: auto;
    padding: 40px;
}

.profile-picture {
    background-color: pink;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px; /* Перенесено до профільного зображення для зручності */
}

    .profile-picture img {
        width: 100%;
        height: 100%;
    }

.three {
    text-align: center;
    grid-column: 2/4;
    grid-row: 2 / 6;
    background-color: #757575;
}

.four {
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    background-color: #757575;
}

.username-container h3 {
    font-size: 24px;
    margin-bottom: 20px;
    overflow: hidden;
    color: white;
}

.five {
    grid-column: 1;
    grid-row: 5;
    background-color: #757575;
    justify-content:center;
}

.six {
    grid-column: 1;
    grid-row: 5;
    background-color: #757575;
}

.Subject {
    grid-column: 2/4;
    grid-row: 6/8;
    background-color: #757575;
}

.button-content {
    grid-column: 1;
    grid-row: 6;
    background-color: #757575;
    font-size: 18px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.oval {
    width: auto;
    height: auto;
    background-color: #ffe8a3; /* Колір підпису */
    display: flex;
    align-items: center;
    overflow: hidden; /* Додайте цю властивість для обмеження вмісту в овалі */
    justify-content: center;
}

tbody {
    background-color: palegreen;
}

tr {
    background-color: #DFE1E0;
}

.day {
    color: red;
    height: 5vh; /* Робить контейнер повністю висоти вікна */
    width: 10vh;
    border: 10px solid #757575;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

td {
    background-color: #DFE1E0;
}

    td div {
        background-color: #DFE1E0;
    }

        td div button {
            background-color: white;
        }

.thead {
    background-color: white;
}

.start {
    background-color: white;
}
/*те що знаходиться всередині плейсхолдеру*/
placeholder-shown {
    color: red;
    font-size: 1.2em;
    font-style: italic;
    width: 20px;
    background-color: khaki;
}

button {
    background-color: white;
    border-radius: 20px;
}


.edit-textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.soc {
    list-style: none;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #757575;
    gap: 20px;
}

.circle1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffcd29; /* Колір фотографії */
    margin-right: 20px;
    background-image: url(https://i.postimg.cc/Fs6kTPBv/1455-1.jpg);
    background-size: cover;
}

.circle2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffcd29; /* Колір фотографії */
    margin-right: 20px;
    background-image: url(https://i.postimg.cc/2yvVqmCS/11122212-1.jpg);
    background-size: cover;
}

.circle3 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffcd29; /* Колір фотографії */
    margin-right: 20px;
    background-image: url(https://i.postimg.cc/vDFxXT0n/121212121.jpg);
    background-size: cover;
}

.circle4 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffcd29; /* Колір фотографії */
    margin-right: 20px;
    background-image: url(https://i.postimg.cc/jSq3hSmm/11212.jpg);
    background-size: cover;
}

.circle5 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffcd29; /* Колір фотографії */
    margin-right: 20px;
    background-image: url(https://i.postimg.cc/3NHDFWSv/1212-1.jpg);
    background-size: cover;
}

.circle6 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #757575; /* Колір фотографії */
    margin-right: 20px;
    background-image: url(https://i.postimg.cc/SsND6SsV/1133.jpg);
    background-size: cover;
}

.subject-group {
    background-color: #949494; /* Колір фотографії */
    grid-column: 2/4;
    grid-row: 6/7;
}


.blueButton button {
    color: black;
    font-weight: bold;
    width: 100%;
}

.subjectSearch {
    display: grid;
    background-color: #949494; /* Колір фотографії */
    grid-column: 2/4;
    grid-row: 7/8;
    /*    grid-template-columns: 1fr 1fr 1fr;*/
}
    .subjectSearch>h3{
        margin-bottom:1%;
=    }


    .searchSubject {
        background-color: #949494; /* Колір фотографії */
        grid-column: 2/4;
        grid-row: 6;
    }

    .searchSubject select {
        cursor: pointer;
        width: 100%;
    }

.editButtons button {
    display: flex;
    color: black;
    font-weight: bold;
}


.loader {
    width: 200px;
    height: 140px;
    background: #979794;
    box-sizing: border-box;
    position: relative;
    border-radius: 8px;
    perspective: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

    .loader:before {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;
        border-radius: 8px;
        background: #f5f5f5 no-repeat;
        background-size: 60px 10px;
        background-image: linear-gradient(#ddd 100px, transparent 0), linear-gradient(#ddd 100px, transparent 0), linear-gradient(#ddd 100px, transparent 0), linear-gradient(#ddd 100px, transparent 0), linear-gradient(#ddd 100px, transparent 0), linear-gradient(#ddd 100px, transparent 0);
        background-position: 15px 30px, 15px 60px, 15px 90px, 105px 30px, 105px 60px, 105px 90px;
        box-shadow: 0 0 10px rgba(0,0,0,0.25);
    }

    .loader:after {
        content: '';
        position: absolute;
        width: calc(50% - 10px);
        right: 10px;
        top: 10px;
        bottom: 10px;
        border-radius: 8px;
        background: #fff no-repeat;
        background-size: 60px 10px;
        background-image: linear-gradient(#ddd 100px, transparent 0), linear-gradient(#ddd 100px, transparent 0), linear-gradient(#ddd 100px, transparent 0);
        background-position: 50% 30px,50% 60px, 50% 90px;
        transform: rotateY(0deg );
        transform-origin: left center;
        animation: paging 1s linear infinite;
    }


@keyframes paging {
    to {
        transform: rotateY( -180deg );
    }
}

#logout-btn {
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
}

#subject-cancel {
    border-radius: 0px;
}

.logout-icon {
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.options-icon {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
}

#edit-btn {
    height: 45px;
    margin-top: 1px;
    font-size: 18px;
}

#change-success {
    width: 100%;
    justify-content: center;
    font-size:18px;
}

#change-cancel {
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    font-size: 18px;
}

.chosen-subjects {
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 10px;
    margin-left: 5px;
}

#subjects {
    justify-content: center;
    margin-top:5px;
}

.edit-icon {
    margin-left: 5px;
    width: 25px;
    height: 25px;
}
/*verified profile*/
.verified-account {
    font-size: 20px;
    color: blue;
    display: flex;
}

.verified-icon {
    margin-left: 10px;
    width: 50px;
    height: 45px;
}

.friend-requests-indicator {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8em;
    margin-left: 5px;
}

/*checkbox*/

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: center;
}

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*error message*/
#error-message {
    display: block !important;
    font-weight: bold !important;
    background-color: #fce4e4 !important;
    border: 1px solid #fcc2c3 !important;
    color: #B22222 !important;
    padding: 20px 30px !important;
    font-family: Arial, sans-serif !important;
    font-size: 18px !important;
    margin: 10px 0 !important;
    text-align: center !important;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.pulse1 {
    animation: pulse 1s;
}

.pulse2 {
    animation: pulse1 1.01s;
}