@page "/UserProfile1111"
@inject HttpClient Http
@inject NavigationManager Navigation
@inject TokenService TokenService
@using SoftServeProject3.UI.Services;
@using System.Globalization
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components.Web

<link rel="stylesheet" href="UserProfile.razor.css">
<body>

    <div class="wrapper">
        <div class="one">
            <div class="left-links">
                <a href="#">Home</a>
                <a href="fetchdata">Пошук студентів</a>
                <a href="login">Налаштування</a>
            </div>
            <div class="right-links">
                <a href="counter">Чат</a>
                <a href="checking_mail">Профіль</a>
            </div>
        </div>
        <div class="two">
            <div class="profile-picture">
                <img src="https://avatars.githubusercontent.com/u/129945281?v=4" alt="Фото профілю">
            </div>
        </div>
        <div class="three">



        </div>
        <div class="four">
            <div class="username-container">
                <h3>Нікнейм користувача (повинне бути обмеження по кількості символів)  о   о   о   о    й й й й  й й й  й й й й</h3>
            </div>

        </div>
        <div class="five">Five</div>
        <div class="six">Six</div>
    </div>


    <p>@errorMessage</p>
    @code {

        string errorMessage = "";
    }
</body>