.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
    height: 100vh;
    position: relative;
    justify-content: flex-end;
    grid-area: wrapper;
}

.outside-wrapper {
    grid-template-columns: 100%;
    grid-template-rows: 100% 20%;
    grid-template-areas: "wrapper" "other-info";
    height: 100vh;
    position: relative;
}

.other-info {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    padding: 0 30px;
}

.vsc-title {
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: black;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    width: 200px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.information-text {
    text-align: left;
    max-width: 80%;
    margin: 0 auto;
    grid-column: 1 / span 2;
    grid-row: 2;
    padding: 0 30px;
}

.info-text {
    width: 32%;
    text-align: center;
}

.info-heading {
    font-size: 38px; 
    font-weight: bold; 
    margin-bottom: 10px;
}

.info-paragraph {
    font-size: 22px;
    margin-bottom: 20px;
}

.box2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    grid-column: 2;
    grid-row: 2;
}

.site-photo {
    max-width: 100%;
    height: 80vh;
    object-fit: contain;
}

.about-us {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    grid-column: 1 / span 2;
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.arrow-left,
.arrow-right {
    width: 60px; 
    height: 50px;
    position: absolute;
    bottom: 20px;
}

.arrow-left {
    left: calc(50% - 140px); 
}

.arrow-right {
    right: calc(50% - 140px); 
}

.bottom-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center; 
}

.bottom-text {
    text-align: left; 
}

.bottom-heading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.bottom-paragraph {
    font-size: 24px; 
    line-height: 1.6; 
    margin-bottom: 20px; 
}


.bottom-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 10vh; 
    margin-top: -900px; 
    margin-left: 60px; 
}

    .bottom-photo img {
        max-width: 100%;
        max-height: 100%; 
        object-fit: contain; 
        margin-left: 340px;
        width: 100%; 
        height: auto; 
    }

.login-button-new {
    background-color: #3498db; 
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    width: 200px;
    margin-top: 20px; 
    position: relative; 
    z-index: 999; 
}
